.body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 90vh;
  background-color: rgb(74, 62, 62);
}

.body p {
  color: white;
  font-size: 2vh;
  margin: 5vh 2vw;
}
