.cart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 40%;
  height: 30vh;
  background-color: #fff;
  margin-top: 5vh;
  border-radius: 14px;
  font-weight: bold;
}

.cart label {
  font-size: 2.5vh;
  margin-left: 5%;
}

.cart p {
  font-size: 1.6vh;
  margin: 0 5%;
  text-align: center;
  color: rgb(127, 39, 140);
}

.cart input {
  box-sizing: border-box;
  height: 3vh;
  width: 90%;
  align-self: center;
  padding: 0 0.5vw;
  border: 1px solid rgb(74, 62, 62);
  font-size: 2vh;
}

.cart button {
  align-self: center;
  width: 12vw;
  height: 5vh;
  margin: 1vh 1vw;
  padding: 0 0.6vw;
  border: none;
  background-color: rgb(127, 39, 140);
  color: white;
  border-radius: 1vh;
  font-weight: bold;
  font-size: 1.4vh;
}

.cart button:hover {
  cursor: pointer;
  border: 1px solid rgb(127, 39, 140);
  background-color: white;
  color: rgb(127, 39, 140);
}

.cart .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
