.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgb(127, 39, 140);
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid white;
}

.header h1 {
  margin-left: 5vw;
  font-size: 4vh;
}

.header button {
  background-color: rgb(127, 39, 140);
  border: 1px solid white;
  color: white;
  font-weight: bold;
  font-size: 2vh;
  margin-right: 5vw;
  border-radius: 8px;
  height: 4vh;
}

.header button:hover {
  border: none;
  color: rgb(127, 39, 140);
  background-color: #fff;
  cursor: pointer;
}
